body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 97vh;
}

#mainBox {
  display: flex;
  justify-content: center;
  height: 50%;
}

.card {
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
  width: 32rem;

}

#h1Facts {
  font-family: 'Fasthand', cursive;
  font-size: 50px;
  padding-bottom: 12px;
  border-bottom: 2px solid grey;
  border-radius: 4px;
}

#fact {
  font-family: 'Fasthand', cursive;
  font-size: 27px;

  height: 50%;
}

.buttonWrapper {}