body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 97vh;
}

#mainBox {
  display: flex;
  justify-content: center;
  height: 54%;
}

.card {
  background-image: linear-gradient(to bottom right, rgb(0, 4, 255), rgb(0, 255, 30));
  text-align: center;
  border: 2px solid #FF10F0;
  border-radius: 12px;
  width: 32rem;

}

#h1Facts {
  font-family: 'Fasthand', cursive;
  font-size: 50px;
  padding-bottom: 12px;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  color: white;
}

#fact {
  font-family: 'Fasthand', cursive;
  font-size: 27px;
  color: white;
  height: 50%;
  padding-top: 30px;
  padding-right: 12px;
  padding-left: 12px;
}

button {
  padding: 6px 30px 6px 30px;
  background: blue;
  font-size: 16px;
  border-radius: 12px;
  color: white;
  font-family: 'Lobster', cursive;
  border: 2px solid #39FF14;
}